@import "~@fortawesome/fontawesome-free/css/all.css";

:root {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "sans-serif";
}

body {
  height: 100%;
  width: 100%;
}

.container-centralized {
  width: 60%;
}

.ng-touched .ng-invalid{
  border-color: red;
}

.cursor-pointer {
  cursor: pointer;
}

.m-b-10 {
  margin-bottom: 10px;
}
